<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 2xl:gap-7.5">
  <!-- On Time Card -->
  <div
    class="border-stroke shadow-default dark:border-strokedark dark:bg-boxdark flex items-center rounded-sm border border-l-4 border-green-600 bg-white p-5"
  >
    <div
      class="mr-4 flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-green-100 dark:bg-green-700"
    >
      <svg
        class="h-6 w-6 fill-green-600"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div>
      <h4
        class="text-xl font-bold text-black dark:text-white"
        x-text="summaryData.summary.onTime"
      >
        0
      </h4>
      <span class="text-sm font-medium text-gray-600 dark:text-gray-400"
        >On Time</span
      >
    </div>
  </div>

  <!-- Late Card -->
  <div
    class="border-stroke shadow-default dark:border-strokedark dark:bg-boxdark flex items-center rounded-sm border border-l-4 border-red-600 bg-white p-5"
  >
    <div
      class="mr-4 flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-red-100 dark:bg-red-700"
    >
      <svg
        class="h-6 w-6 fill-red-600"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.414-1.414L11 9.586V6z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div>
      <h4
        class="text-xl font-bold text-black dark:text-white"
        x-text="summaryData.summary.late"
      >
        0
      </h4>
      <span class="text-sm font-medium text-gray-600 dark:text-gray-400"
        >Late</span
      >
    </div>
  </div>

  <!-- Alpha Card -->
  <div
    class="border-stroke shadow-default dark:border-strokedark dark:bg-boxdark flex items-center rounded-sm border border-l-4 border-gray-600 bg-white p-5"
  >
    <div
      class="mr-4 flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-gray-200 dark:bg-gray-700"
    >
      <svg
        class="h-6 w-6 fill-gray-600"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div>
      <h4
        class="text-xl font-bold text-black dark:text-white"
        x-text="summaryData.summary.alpha"
      >
        0
      </h4>
      <span class="text-sm font-medium text-gray-600 dark:text-gray-400"
        >Alpha</span
      >
    </div>
  </div>

  <!-- Work From Office Card -->
  <div
    class="border-stroke shadow-default dark:border-strokedark dark:bg-boxdark flex items-center rounded-sm border border-l-4 border-green-600 bg-white p-5"
  >
    <div
      class="mr-4 flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-green-100 dark:bg-green-700"
    >
      <svg
        class="h-6 w-6 fill-green-600"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
        />
        <path
          d="M12.5 11a.5.5 0 01-.5.5H8a.5.5 0 01-.5-.5V8.207l1.646-1.647a.5.5 0 01.708 0L12.5 8.207V11zM11 13H9v3h2v-3z"
        />
      </svg>
    </div>
    <div>
      <h4
        class="text-xl font-bold text-black dark:text-white"
        x-text="summaryData.summary.wfo"
      >
        0
      </h4>
      <span class="text-sm font-medium text-gray-600 dark:text-gray-400"
        >Work From Office</span
      >
    </div>
  </div>

  <!-- Work From Home Card -->
  <div
    class="border-stroke shadow-default dark:border-strokedark dark:bg-boxdark flex items-center rounded-sm border border-l-4 border-orange-500 bg-white p-5"
  >
    <div
      class="mr-4 flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-orange-100 dark:bg-orange-700"
    >
      <svg
        class="h-6 w-6 fill-orange-500"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h10a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
        />
      </svg>
    </div>
    <div>
      <h4
        class="text-xl font-bold text-black dark:text-white"
        x-text="summaryData.summary.wfh"
      >
        0
      </h4>
      <span class="text-sm font-medium text-gray-600 dark:text-gray-400"
        >Work From Home</span
      >
    </div>
  </div>

  <!-- Work From Anywhere Card -->
  <div
    class="border-stroke shadow-default dark:border-strokedark dark:bg-boxdark flex items-center rounded-sm border border-l-4 border-blue-600 bg-white p-5"
  >
    <div
      class="mr-4 flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-700"
    >
      <svg
        class="h-6 w-6 fill-blue-600"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.944A5.965 5.965 0 0110 6c1.507 0 2.888.554 3.957 1.458L12.5 9H16V5.5l-1.742 1.742A6.969 6.969 0 0010 5C5.03 5 1 9.03 1 14c0 .342.02.678.057 1.008L3.073 13.6A5.983 5.983 0 014.332 8.944zM16.943 5.008L18.927 6.4A5.983 5.983 0 0115.668 11.056a5.965 5.965 0 01-5.668 2.944c-1.507 0-2.888-.554-3.957-1.458L7.5 11H4v3.5l1.742-1.742A6.969 6.969 0 0010 15c4.97 0 9-4.03 9-9 0-.342-.02-.678-.057-1.008z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div>
      <h4
        class="text-xl font-bold text-black dark:text-white"
        x-text="summaryData.summary.wfa"
      >
        0
      </h4>
      <span class="text-sm font-medium text-gray-600 dark:text-gray-400"
        >Work From Anywhere</span
      >
    </div>
  </div>
</div>
